$light: hsl(212, 45%, 89%);
$white: #fff;
$font-first: hsl(218, 44%, 22%);
$font-second: hsl(220, 15%, 55%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $light;
    height: 100vh;
}

.wrapper, .attribution {
    left: 50%;
    transform: translate(-50%, -50%);
} 

.wrapper {
    position: relative;
    top: 50%;
    width: 320px;
    height: 500px;
    background-color: $white;
    border-radius: 20px;
}

.qr {
    position: absolute;
    background-image: url(../images/image-qr-code.png);
    top: 0%;
    left: 50%;
    margin: 20px 0;
    transform: translate(-50%, 0%);
    height: 285px;
    width: 285px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
} 

.first-txt, .second-txt, .attribution {
    position: absolute;
    text-align: center;
}

.first-txt {
    font-size: 20px;
    margin: 0 20px;
    font-weight: bold;
    bottom: 23%;
    color: $font-first;
}

.second-txt {
    font-size: 14px;
    margin: 0 30px;
    bottom: 8%;
    color: $font-second;
}

.attribution {
    bottom: 0%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    width: 100%;
}